
body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


h1 {
  font-family: "Kavoon", serif;
  font-weight: 400;
  font-style: normal;
}

.title{
  margin-top: 0;
}

.name{
  display: flex;
  justify-content: space-between;
  background-color: beige;
  margin: 1rem;
  height: 7rem;
}

.name button{
  background-color: #FFC971;
  border-radius: 10%;
  width: 10rem;
  font-family: "Kavoon", serif;
  font-weight: 400;
  font-style: normal;
}

.text{
  text-align: left;
  width: 90%;
  padding-left: 2%;
}

.header{
  background-color: #FF9505;
  text-align: center;
}    

main{
  margin-top: 3rem;
}

footer{
  bottom: 0;
  background-color: #FF9505;
  width: 100%;
  text-align: center;
  margin-top: 3rem;
}

.star {
  padding:2rem;
  font-size: 2rem;
  color: gray;
  cursor: pointer;
  transition: color 0.3s ease;
}